html{
  font-family: georgia, sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust:100%;
}

body{
  font-size: 18px;
  line-height: 1.5;
  margin: 0;
  background-color: #ffffe0;
  font-family: 'Agency FB', arial;
}

div{
  display:inline-block;
  max-width: 100%;
  position: relative;
}

h1{
  text-align: center;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about{
  width:100%;
}

#basicInfo {
  text-align: center;
  width: 100%;
}

#basicInfo img {
  margin: 1.5em;
}

#infoButtons {
  position: absolute;
  overflow: hidden;
  width:100%;
  top:0;
  left:0;
  height:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#infoButtons a {
  display: block;
  margin-left: 4px;
  margin-bottom: 2px;
  height: 5em;
  width:10em;
  left: 1.75em;
  text-align: center;
  color: #BFE2CA;
  vertical-align: middle;
	max-height: 33%;
	max-width: 12%;
  position: relative;
  -webkit-transition: background 0.1s ease-in-out;
  -moz-transition: background 0.1s ease-in-out;
  transition: background 0.1s ease-in-out;
}

#infoButtons a img {
  max-width: 100%;
  max-height: 90%;
  margin-top: 4px;
  margin-left: 20px;
}

.intro {
	background-color:#FAC8BF;
	height:auto;
	text-align: center;
	padding: 10px 0px;
  width:100%;
}

.shortWriteUp{
  width:65%;
}

.headShot{
  max-width: 15%;
  border-radius: 50%;
  margin-bottom: 3em;
}

.detailedInfo{
  width: 100%;
}

div .hidden-info{
  height: 200%;
  width: 60%;
  position: absolute;
}

.bathToken{
  width: 33%;
  text-align: center;
  overflow: hidden;
}

.bathToken img{
  max-width: 100%;
}

.slider{
  width: 100%;
  height: 97%;
  margin: 1em auto;
  position: relative;
  border: 4px solid #698d9d
}


.slider ul {
	list-style: none;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
	padding: 0;
	margin: 0;
}

.slider ul li {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: #feffe8;
}

.slider ul li:target {
	z-index: 100;
}

.slider nav {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 3.313em;
	z-index: 1000;
	border-top: 4px solid #698d9d;
	overflow: hidden;
}

.slider nav a {
	float: left;
	display: block;
	height: 100%;
	font-weight: 400;
	letter-spacing: 0.1em;
	overflow: hidden;
	color: #698d9d;
	background: #feffe8;
	outline: none;
	text-align: center;
	position: relative;
	text-transform: uppercase;
	border-right: 4px solid #698d9d;
	-webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	-moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.slider nav a span {
	display: block;
}

.slider nav a:last-child {
	border: none;
	box-shadow: 1px 0 #698d9d; /* fills gap caused by rounding */
}

.slider nav a:hover {
	background-color: #698d9d;
	color: #fff;
}

.slider nav a.rc-active {
	background-color: #698d9d;
	color: #fff;
}

/* Iconfont for navigation and headings */
.slider [class^="icon-"]:before,
.slider [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	text-align: center;
	speak: none;
	font-weight: normal;
	line-height: 2.5;
	font-size: 2em;
	position: absolute;
	left: 10%;
	top: 50%;
	margin: -1.250em 0 0 0;
	height: 2.500em;
	width: 2.500em;
	color: rgba(0,0,0,0.1);
	-webkit-font-smoothing: antialiased;
}

.slider img {
  width: 30%;
}

.slider [class^="icon-"].rc-active:before,
.slider [class*=" icon-"].rc-active:before,
.slider nav a:hover:before {
	color: rgba(255,255,255,0.9);
}

.slider h2 {
	font-size: 4em;
	height: 2em;
	line-height: 2;
	font-weight: 300;
	margin: 0 0 0.3em;
	position: relative;
	color: #698d9d;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 0.3em;
	padding: 0 0.2em 0 0;
	border-bottom: 4px solid #698d9d;
}

.slider h2[class^="icon-"]:before,
.slider h2[class*=" icon-"]:before {
	top: 0;
	left: 0;
	width: 2em;
	line-height: 1;
	height: 1.2em;
	margin: 0;
	color: #698d9d;
}

.slider li div {
	position: absolute;
	width: 92%;
	left: 0;
	padding: 0 1em;
	overflow-x: hidden;
	overflow-y: auto;
  top: 9em;
  bottom: 3.313em;
}

.slider .cbp-content {
	-webkit-column-rule: 1px dashed #698d9d;
	-moz-column-rule: 1px dashed #698d9d;
	column-rule: 1px dashed #698d9d;
	-webkit-column-count: 2;
	-moz-column-count: 2;
	-o-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 1em;
	-moz-column-gap: 1em;
	-o-column-gap: 1em;
	column-gap: 1em;
	vertical-align: top;
	padding: 1em 0;
}

.slider p {
	color: #698d9d;
	padding: 0 0.5em 0.4em;
	margin: 0;
	font-size: 1.2em;
	font-weight: 300;
	text-align: justify;
	line-height: 1.6;
}

.slider #slide5 img{
	display: block;
	width: 76%;
  height: auto;
}

/* Media queries */

@media screen and (max-width: 70em) {
	.slider p {
		font-size: 100%;
	}
  .slider h2 {
    font-size: 3em;
  }
  .slider #slide5 img{
    width: 101%;
  }
  #infoButtons a img{
    margin: 0.45em 0;
  }
  #basicInfo img{
    margin-left: 5em;
  }
}

@media screen and (max-width: 67.75em) {

	.slider { font-size: 85%; }

	.slider nav a[class^="icon-"]:before,
	.slider nav a[class*=" icon-"]:before {
		left: 50%;
		margin-left: -1.250em;
	}

	.slider nav a span {
		display: none;
	}
}

@media screen and (max-width: 43em) {
	.slider h2 {
		font-size: 2em;
	}
	.slider .cbp-content {
		-webkit-column-count: 1;
		-moz-column-count: 1;
		-o-column-count: 1;
		column-count: 1;
	}
  .slider{
    height: 137%;
  }
	.slider li div {
		top: 5em;
	}
  #basicInfo img{
    width:90%;
    margin: 0;
    margin-top: 2.5em;
  }
  #infoButtons a {
    display: inline-block;
    left: 0;
    max-width: 20%;
  }
  .bathToken{
    width:32%;
  }
  .slider h2 {
    font-size: 1.5em;
  }
  .slider li div{
    padding: 0 0.5em;
    top: 4em;
  }
}

@media screen and (max-width: 25em) {
	.slider nav a { padding: 0;}
	.slider h2[class^="icon-"]:before,
	.slider h2[class*=" icon-"]:before { display: none;}
}
