body {
	background-color: #fce8e7;
	overflow: hidden;
}

h1 {
	font-family: 'Miniver';
	font-size: 5vw;
	text-align: center;
	color: #d35f5f;
	margin-bottom: 0;
}

img {
	width: 80vw;
	position: absolute;
	left:10vw;
	bottom:5vh;
}

.btn {
	padding: 2vw;
	font-size: 3.5vw;
	cursor: pointer;
	color: #d35f5f;
}

#info {
	z-index: 3;
	text-align: center;
	width: 100%;
	position: relative;
}

#cloudLayer1 {
	z-index: 1;
}

#cloudLayer2 {
	z-index: 2;
}

.cloud {
	position:absolute;
	-webkit-animation: float 20s linear infinite;
	-moz-animation: float 20s linear infinite;
}

@-webkit-keyframes float {
	0% {
		margin-left: 0px;
		opacity 0;
	}
	45% {
		margin-left: 900px;
		opacity: 1;
	}
	100% {
		margin-left: 1800px;
		opacity: 0;
	}
}

@-moz-keyframes float {
	0% {
		margin-left: 0px;
		opacity 0;
	}
	45% {
		margin-left: 900px;
		opacity: 1;
	}
	100% {
		margin-left: 1800px;
		opacity: 0;
	}
}

#backgroundSVG {
	z-index: 0;
}

@media only screen and (max-width: 950px) {
	h1 {
		font-size: 5.5vh;
		margin-top: 35vh;
	}
	img {
		width: 90vw;
		bottom: 15vh;
		left: 5vw;
		
	}
	.btn {
		font-size: 5vh;
	}
}
