body {
	background-color: #fce8e7;
}

h1 {
	font-family: 'Miniver';
	font-size: 5vw;
	text-align: center;
	color: #d35f5f;
	margin-bottom: 0;
}

img {
	width: 80vw;
	position: absolute;
	left:10vw;
	bottom:5vh;
}

.btn {
	padding: 2vw;
	font-size: 3.5vw;
	cursor: pointer;
	color: #d35f5f;
}

#info {
	z-index: 1;
	text-align: center;
	width: 100%;
	position: relative;
}

#backgroundSVG {
	z-index: 0;
}

@media only screen and (max-width: 950px) {
	h1 {
		font-size: 5.5vh;
		margin-top: 35vh;
	}
	img {
		width: 90vw;
		bottom: 15vh;
		left: 5vw;
		
	}
	.btn {
		font-size: 5vh;
	}
}
